Repository calahatras/gitout, pull requests merged in 2021-04, with the labels that each got.

#120 feature(log): add toolbar button for checking out a new branch
  GitOut/Features/Git/GitBranchName.cs
  GitOut/Features/Git/IGitRepository.cs
  GitOut/Features/Git/LocalGitRepository.cs
  GitOut/Features/Git/Log/GitLogPage.xaml
  GitOut/Features/Git/Log/GitLogViewModel.cs
  GitOut/Themes/Material/MaterialDesign.xaml
  GitOut/Themes/MaterialDesignIcons/MaterialDesignIcons.xaml
Labels: view:log

#123 refactor(log): change refresh icon to remove folder from action
  GitOut/Features/Git/Log/GitLogPage.xaml
  GitOut/Themes/MaterialDesignIcons/MaterialDesignIcons.xaml
Labels: refactor, view:log

#124 refactor(material): change stackpanels to toolbars and use default styles for buttons and menus in toolbar tray
  GitOut/Features/Git/Log/GitLogPage.xaml
  GitOut/Features/Git/Stage/GitStagePage.xaml
  GitOut/Themes/Material/MaterialDesign.xaml
  GitOut/Themes/MaterialDesignIcons/MaterialDesignIcons.xaml
Labels: refactor, view:log, view:stage

#127 enhancement(log): add back button to navigate to repositories
  GitOut/Features/Git/Log/GitLogPage.xaml
Labels: enhancement, view:log

#126 feature(log): put copy path to repository in toolbar menu and add option to reveal repository folder in Explorer
  GitOut/Features/Git/Log/GitLogPage.xaml
  GitOut/Features/Git/Log/GitLogPage.xaml.cs
  GitOut/Features/Git/Log/GitLogViewModel.cs
  GitOut/Themes/Material/MaterialDesign.xaml
Labels: enhancement, view:log

#119 enhancement(repositories): add toolbar and options for adding and removing repository in repository page
  GitOut/Features/Git/IGitRepository.cs
  GitOut/Features/Git/LocalGitRepository.cs
  GitOut/Features/Git/Log/GitLogViewModel.cs
  GitOut/Features/Git/RepositoryList/RepositoryListPage.xaml
  GitOut/Features/Git/RepositoryList/RepositoryListViewModel.cs
  GitOut/Features/Git/Stage/GitStageViewModel.cs
  GitOut/Features/Git/Storage/GitRepositoryStorage.cs
  GitOut/Features/Git/Storage/IGitRepositoryStorage.cs
  GitOut/Features/Material/Snackbar/ISnackBuilder.cs
  GitOut/Features/Material/Snackbar/ISnackbarService.cs
  GitOut/Features/Material/Snackbar/Snack.cs
  GitOut/Features/Material/Snackbar/SnackAction.cs
  GitOut/Features/Material/Snackbar/SnackbarService.cs
  GitOut/Themes/Material/MaterialDesign.xaml
  GitOut/Themes/MaterialDesignIcons/MaterialDesignIcons.xaml
Labels: enhancement, view:repositories

#128 feature(stage): watch file changes in repository when window is inactive
  GitOut/Features/Git/GitServiceCollectionExtensions.cs
  GitOut/Features/Git/Stage/GitStagePage.xaml
  GitOut/Features/Git/Stage/GitStageViewModel.cs
  GitOut/Features/IO/GitRepositoryFileSystemWatcherProvider.cs
  GitOut/Features/IO/IGitRepositoryWatcherProvider.cs
  GitOut/Features/IO/IRepositoryWatcher.cs
  GitOut/Features/IO/RepositoryWatcherEventArgs.cs
  GitOut/Features/IO/RepositoryWatcherEventHandler.cs
  GitOut/Features/Material/Snackbar/ISnackBuilder.cs
  GitOut/Features/Material/Snackbar/Snack.cs
  GitOut/Features/Navigation/NavigationService.cs
  GitOut/Features/Navigation/NavigationType.cs
  GitOut/Features/Wpf/NavigatorShellViewModel.cs
  GitOut/Themes/MaterialDesignIcons/MaterialDesignIcons.xaml
  GitOutTest/Features/Git/Stage/GitStageViewModelTest.cs
Labels: enhancement, view:stage

#130 refactor(shell): remove custom window chrome and use Windows default
  GitOut/App.xaml
  GitOut/Features/Wpf/GlassHelper.cs
  GitOut/Features/Wpf/NavigatorShell.xaml
  GitOut/Features/Wpf/NavigatorShell.xaml.cs
  GitOut/Features/Wpf/NavigatorShellViewModel.cs
Labels: clean, refactor

#135 feature(stage): add --[i]ntent-to-add as a stage command
  GitOut/Features/Git/AddOptions.cs
  GitOut/Features/Git/GitModifiedStatusType.cs
  GitOut/Features/Git/IAddOptionsBuilder.cs
  GitOut/Features/Git/IGitRepository.cs
  GitOut/Features/Git/LocalGitRepository.cs
  GitOut/Features/Git/Stage/GitStagePage.xaml
  GitOut/Features/Git/Stage/GitStageViewModel.cs
  GitOut/Features/Git/Stage/StatusChangeViewModel.cs
  GitOut/Features/Git/Stage/StatusToBrushConverter.cs
  GitOut/Themes/AppTheme.xaml
Labels: enhancement, view:stage

#133 fix(log): only set isHead if log is available in read history
  GitOut/Features/Git/LocalGitRepository.cs
Labels: fix, view:log

#132 enhancement(log): add button in toolbar to close details
  GitOut/Features/Git/Log/GitLogPage.xaml
  GitOut/Features/Git/Log/GitLogViewModel.cs
  GitOut/Themes/MaterialDesignIcons/MaterialDesignIcons.xaml
Labels: enhancement, view:log

#134 fix(GitStatusChange): unmerged changes can be parsed
  GitOut/Features/Git/GitStatusChange.cs
  GitOut/Features/Git/LocalGitRepository.cs
  GitOut/Features/Memory/SpanSplitExtensions.cs
  GitOut/Features/Wpf/NavigatorShellViewModel.cs
  GitOutTest/Features/Git/Diagnostics/GitStatusChangeTest.cs
  GitOutTest/Features/Git/GitStatusChangeTest.cs
  GitOutTest/Features/Memory/SpanSplitExtensionsTest.cs
Labels: fix, view:log, view:stage
