Repository calahatras/gitout, pull requests merged in 2021-01, with the labels that each got.

#81 refactor(shell): set max height to primary screen height
  GitOut/Features/Wpf/NavigatorShell.xaml
Labels: bug

#82 feature(stage): allow user to edit patch when staging selected text
  GitOut/Features/Git/Diff/GitDiffControl.xaml
  GitOut/Features/Git/Diff/GitDiffControl.xaml.cs
  GitOut/Features/Git/Patch/GitPatch.cs
  GitOut/Features/Git/Stage/EditPatchViewModel.cs
  GitOut/Features/Git/Stage/GitStagePage.xaml
  GitOut/Features/Git/Stage/GitStageViewModel.cs
  GitOut/Features/Material/Snackbar/ISnackbarService.cs
  GitOut/Features/Material/Snackbar/SnackbarService.cs
  GitOut/Features/Wpf/Converters/NullToBooleanConverter.cs
  GitOutTest/Features/Git/Stage/GitStageViewModelTest.cs
Labels: enhancement, git:stage

#87 feature(log): flatten diff view list
  GitOut/Features/Git/Diagnostics/GitProcessOptions.cs
  GitOut/Features/Git/Diagnostics/IGitProcessOptionsBuilder.cs
  GitOut/Features/Git/DiffOptions.cs
  GitOut/Features/Git/Files/GitFileEntryViewModelFactory.cs
  GitOut/Features/Git/IDiffOptionsBuilder.cs
  GitOut/Features/Git/IGitRepository.cs
  GitOut/Features/Git/LocalGitRepository.cs
  GitOut/Features/Git/Log/GitLogPage.xaml
  GitOut/Features/Git/Log/GitLogViewModel.cs
  GitOut/Features/Git/Log/LogEntriesViewModel.cs
  GitOut/Features/Git/Log/LogRevisionViewMode.cs
  GitOut/Themes/MaterialDesignIcons/MaterialDesignIcons.xaml
Labels: enhancement, git:log

#89 feature(remote): show remotes in popup and allow user to fetch from selected remotes
  GitOut/Features/Git/GitRemote.cs
  GitOut/Features/Git/IGitRepository.cs
  GitOut/Features/Git/LocalGitRepository.cs
  GitOut/Features/Git/Log/GitLogPage.xaml
  GitOut/Features/Git/Log/GitLogViewModel.cs
  GitOut/Features/Git/Log/GitRemoteViewModel.cs
  GitOut/Themes/Material/MaterialDesign.xaml
  GitOut/Themes/MaterialDesignIcons/MaterialDesignIcons.xaml
Labels: enhancement, git:log

#91 refactor(log): style head list item with darker background and bold text
  GitOut/Features/Git/Log/GitLogPage.xaml
  GitOut/Features/Wpf/Converters/BooleanToFontWeightConverter.cs
Labels: enhancement, git:log
