Repository calahatras/gitout, pull requests merged in 2021-05, with the labels that each got.

#143 fix(stage): use GitStatusChangeType.Untracked for untracked files
  GitOut/Features/Git/Stage/GitStageViewModel.cs
Labels: fix, view:stage

#144 refactor(stage): hide refresh snack if user leaves page
  GitOut/Features/Git/Stage/GitStageViewModel.cs
Labels: refactor, view:stage

#142 enhancement(shell): change title of window when navigating
  GitOut/Features/Git/Log/GitLogViewModel.cs
  GitOut/Features/Git/Stage/GitStageViewModel.cs
  GitOut/Features/Wpf/NavigatorShell.xaml
  GitOut/Features/Wpf/NavigatorShellViewModel.cs
  GitOut/Features/Wpf/TitleService.cs
Labels: enhancement, view:log, view:settings, view:stage

#138 refactor(gitrepository): remove Execute prefix from all methods
  GitOut/Features/Git/Files/GitFileEntryViewModelFactory.cs
  GitOut/Features/Git/Files/GitFileViewModel.cs
  GitOut/Features/Git/IGitRepository.cs
  GitOut/Features/Git/LocalGitRepository.cs
  GitOut/Features/Git/Log/GitLogViewModel.cs
  GitOut/Features/Git/Log/LogEntriesViewModel.cs
  GitOut/Features/Git/Stage/GitStageViewModel.cs
  GitOutTest/Features/Git/LocalGitRepositoryTest.cs
  GitOutTest/Features/Git/Log/LogEntriesViewModelTest.cs
  GitOutTest/Features/Git/Stage/GitStageViewModelTest.cs
Labels: refactor

#139 fix(status): adjust index of path name in status line
  GitOut/Features/Git/GitStatusChange.cs
  GitOutTest/Features/Git/GitStatusChangeTest.cs
Labels: fix, view:stage

#136 enhancement(stage): add keybindings to navigate in stage area
  GitOut/Features/Git/Patch/GitPatch.cs
  GitOut/Features/Git/Stage/GitStagePage.xaml
  GitOut/Features/Git/Stage/GitStagePage.xaml.cs
  GitOut/Features/Git/Stage/GitStageViewModel.cs
Labels: enhancement, view:stage

#145 enhancement(stage): hide active refresh snack if user changes file
  GitOut/Features/Git/Stage/GitStageViewModel.cs
Labels: enhancement, view:stage

#140 enhancement(log): clear branch name in textbox after branch checkout
  GitOut/Features/Git/GitBranchName.cs
  GitOut/Features/Git/Log/GitLogPage.xaml
  GitOut/Features/Git/Log/GitLogViewModel.cs
  GitOutTest/Features/Git/GitBranchNameTest.cs
Labels: enhancement, view:log

#146 refactor(navigation): dispose of options subscription when leaving settings page
  GitOut/Features/Navigation/NavigationService.cs
  GitOut/Features/Settings/GeneralSettingsViewModel.cs
  GitOut/Features/Settings/SettingsViewModel.cs
Labels: refactor, view:settings

#137 fix(stage): only refresh active file if it still has changes
  GitOut/Features/Git/Stage/GitStageViewModel.cs
Labels: fix, view:stage

#149 feature(log): ensure scrolled to item is in view
  GitOut/Features/Git/Log/GitLogPage.xaml
  GitOut/Features/Git/Log/GitLogViewModel.cs
  GitOut/Features/Wpf/Scrolling/ScrollBehavior.cs
Labels: enhancement, view:log

#147 feature(shell): add possibility to scale system
  GitOut/Features/Input/MouseWheelAction.cs
  GitOut/Features/Input/MouseWheelGesture.cs
  GitOut/Features/Input/MouseWheelGestureTypeConverter.cs
  GitOut/Features/Wpf/NavigatorShell.xaml
  GitOut/Features/Wpf/Zoom/ZoomBehavior.cs
Labels: enhancement
