Repository calahatras/gitout, pull requests merged in 2022-02, with the labels that each got.

#161 feature(repositorylist): enables drop of folders onto repositorylist
  GitOut/Features/Git/RepositoryList/RepositoryListPage.xaml
  GitOut/Features/Git/RepositoryList/RepositoryListViewModel.cs
  GitOut/Features/Git/Storage/GitRepositoryStorage.cs
  GitOut/Features/Git/Storage/IGitRepositoryStorage.cs
  GitOut/Features/Text/Autocomplete.xaml
  GitOut/Features/Text/Autocomplete.xaml.cs
  GitOut/Features/Wpf/DragDrop/DragDropBehavior.cs
  GitOut/Features/Wpf/DragDrop/DropAdorner.cs
Labels: enhancement, view:repositories

#162 refactor(navigation): refactor navigation to be able to navigate in a separate window
  GitOut/App.xaml.cs
  GitOut/Features/Git/GitHistoryEvent.cs
  GitOut/Features/Git/GitServiceCollectionExtensions.cs
  GitOut/Features/Git/LocalGitRepository.cs
  GitOut/Features/Git/Log/Converters/NodesToPathConverter.cs
  GitOut/Features/Git/Log/GitLogViewModel.cs
  GitOut/Features/Git/Stage/GitStageViewModel.cs
  GitOut/Features/Navigation/INavigationFallback.cs
  GitOut/Features/Navigation/INavigationService.cs
  GitOut/Features/Navigation/NavigateLocalCommand.cs
  GitOut/Features/Navigation/NavigationRegistrationOptions.cs
  GitOut/Features/Navigation/NavigationService.cs
  GitOut/Features/Navigation/NavigationServiceCollectionExtensions.cs
  GitOut/Features/Settings/SettingsViewModel.cs
  GitOut/Features/Wpf/Bootstrap.cs
  GitOut/Features/Wpf/NavigatorShell.xaml.cs
Labels: refactor

#163 feature(progress): create new circular progress indicator
  GitOut/Features/Collections/RangeObservableCollection.cs
  GitOut/Features/Git/Log/GitLogPage.xaml
  GitOut/Features/Git/Log/GitLogViewModel.cs
  GitOut/Features/Material/Progress/CircularProgressIndicator.xaml
  GitOut/Features/Material/Progress/CircularProgressIndicator.xaml.cs
Labels: enhancement, view:log

#164 build(app): upgrade projects to .net 6
  GitOut/GitOut.csproj
  GitOutTest/GitOutTest.csproj
Labels: enhancement
